// Define variables for your color scheme

// For example:

$red: #FD1015;
$blue: #167FFB;
$purple: linear-gradient(180deg, #6D05BF 0%, #290233 100%);
$yellow: #FFC65A;
$lightyellow: #FFFAC9;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$lightgray: #F4F4F4;
$white: white;
