<div class="flex-container">
   <div class="flex-item container">
    <div class="new_flat">
      <h1>Make any changes you like</h1>
    </div>
    <%= render "form", flat: @flat %>
  </div>
  <div class="flex-item form-image">
    <%= image_tag "new_flat.jpg" %>
  </div>
</div>
