<div class="navbar"></div>

<div class="container">
  <h1>Overview of your Friend's Flats</h1>
</div>
<br>
<div class="card-flat">
  <img src="https://images.unsplash.com/photo-1560930950-5cc20e80e392?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" />
  <div class="card-flat-infos">
    <div>
      <h2>Cozy Apartment</h2>
      <p>Central apartment in the middle of Prenzlauer Berg!</p>
    </div>
    <h2 class="card-flat-pricing">€120</h2>
    <img href="../images/placeholder.jpg" class="card-trip-user avatar-bordered" />
  </div>
</div>

<div class="card-flat">
  <img src="https://images.unsplash.com/photo-1475452524438-d6a4a3f6fdc3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" />
  <div class="card-flat-infos">
    <div>
      <h2>Cozy Apartment</h2>
      <p>Central apartment in the middle of Prenzlauer Berg!</p>
    </div>
    <h2 class="card-flat-pricing">€60</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

<div class="card-flat">
  <img src="https://images.unsplash.com/photo-1572880456050-f098c892f6c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" />
  <div class="card-flat-infos">
    <div>
      <h2>Cozy Apartment</h2>
      <p>Central apartment in the middle of Prenzlauer Berg!</p>
    </div>
    <h2 class="card-flat-pricing">€40</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

<div class="card-flat">
  <img src="https://images.unsplash.com/photo-1524061511843-fd43443e3cb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" />
  <div class="card-flat-infos">
    <div>
      <h2>Cozy Apartment</h2>
      <p>Central apartment in the middle of Prenzlauer Berg!</p>
    </div>
    <h2 class="card-flat-pricing">€80</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

<div class="card-flat">
  <img src="https://images.unsplash.com/photo-1499916078039-922301b0eb9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" />
  <div class="card-flat-infos">
    <div>
      <h2>Cozy Apartment</h2>
      <p>Central apartment in the middle of Prenzlauer Berg!</p>
    </div>
    <h2 class="card-flat-pricing">€100</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

<div id="map"
     style="width: 600px; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
