<div class="flex-container">
  <div class="flex-item container">
    <h1>Let’s get started listing your flat.</h1>
    <%= render "form", flat: @flat %>
  </div>
  <div class="flex-item form-image">
    <%= image_tag "new_flat.jpg" %>
  </div>
</div>
