  <%= render"search" %>
<div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>

<div class = "textbox">
  <h1>The Social Network of Living</h1>
  <br>
  <h3>We connect friends of friends to create a flat search experience that is trustworthy, fast and convenient.</h3>
</div>

  <div class="animation-box d-flex align-items-center">
    <div style="position: relative;">
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_l2AAOR.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
    </div>
  </div>

<div class="cards">
  <div class="card">
    <h2 class="text-center">🤝<br><br>What do we do?</h2>
    <p> F4F allows for a comprehensive overview of the flats on offer in your network and facilitates a trustful relationship with the person renting out the appartment.</p>
  </div>
  <div class="card">
    <h2 class="text-center">🤔<br><br>Why do we do it?</h2>
    <p>We became so frustrated with the experience of finding a flat and the untapped potential within our own personal network that we created a way to make the search more trustful and effortless ourselves.</p>
  </div>
  <div class="card">
    <h2 class="text-center">🔍<br><br>How do we do it?</h2>
    <p>Did you know? You know any person in the world through only 6 people. Our handshake feature shows you the number of people it would take to make an intro between you and the flat owner in real life.</p>
  </div>
</div>




