  <%= render"search" %>

<div class = "textbox">
  <h1>The Social Network of Living</h1>
  <p>We connect friends of friends to create a flat search experience that is trustworthy, fast and convenient.</p>
</div>

<div class="animation-box d-flex align-items-center">
  <div style="position: relative;">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_l2AAOR.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
  </div>
</div>

<div class="cards">
  <div class="card">
    <h2>What do we do?</h2>
    <p>Allow for a comprehensive overview of the flats on offer in your network  and facilitate a trustful relationship with the person renting out the appartment.</p>
  </div>
  <div class="card">
    <h2>Why do we do it?</h2>
    <p>Our goal is for you to access the untaped potential within your personal network. We want to create a community of trust that makes finding a flat more effortless than ever before.</p>
  </div>
  <div class="card">
    <h2>How do we do it?</h2>
    <p>We analyze your personal network and show you any flats of your friends or friends of friends that might fit your needs. </p>
  </div>
</div>




