<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>Testing</p>

<a href="#" class="btn btn-rounded"> Search </a>
<a href="#" class="btn btn-squared"> Search </a>

<img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
<img class="avatar-bordered avatar-grey" alt="avatar-bordered-grey" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />


