.card-flat {
  background: #F4F4F4;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
}

.card-flat > img {
  height: 130px;
  width: 100%;
  object-fit: cover;
}

.card-flat h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-flat p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-flat .card-flat-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-flat-infos .card-flat-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}



