.content {
  display: flex;
}

.card-flat {
  flex-grow: 1;
  border-color: #F4F4F4;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding: 25px;
  justify-content: space-around;
  height: fit-content;
  background: #F4F4F4;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  margin-bottom: 20px;
  border-radius: 15px;
}

.card-flat > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-flat h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-flat p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


