body {
  font-family: $body-font;
  background-color: #FFFAEF;
  background-image: url(/images/vector.png);
}

h1 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}

h2 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
}


h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

}

p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.main-container{
  position: relative;
  padding-bottom: 50px;
  min-height: 100vh;
}

.violet-container {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.animation-box {
  position: absolute;
  width: 370px;
  height: 255px;
  right: 100px;
  top: 100px;
  text-align: center;
}

