.navbar-lewagon {
  justify-content: space-between;
  background: $lightgray;
  position: sticky;
  top: 0;
  z-index: 9999;

  .btn-rounded {
    border-radius: 6px;
    margin-right: 10px;
    padding: 0.375rem 0.75rem;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


