.form-inline {
  margin: 30px 0px 20px 35px;
  border-radius: 10px;
}

.form-control {
  margin: 0px 10px 0px 0px;
  height: calc(2.5em + 0.75rem + 1px);
  border-color: transparent;
  background-color: white !important;
  color: grey;
}

.search {
  display: flex;

  .btn-rounded {
    height: 40px;
    padding: 0 16px;
    position: static;
    top: 16px;
  }
}

.search-input-container {
  background-color: white;
  border-radius: 12px;
  //padding: 12px 12px 33px;
  box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.16);
  height: 80px;
  width: 800px;

  div {
    height: 80px;
    border-radius: 3px;
    border: 3px transparent solid;
    background-color: white;
    padding: 10px 10px 30px;
    position: relative;
    input {
      outline: none;

    }
    &:hover {
      border-color: lightgrey;
    }

  }

    .search_separation_allowed:after, .search_location:after {
      content: "";
      background-color: lightgrey;
      position: absolute;
      right: -3px;
      bottom: 25%;
      height: 50%;
      width: 3px;
    }
}

.algolia-places {
  min-height: 40px;
  .form-control {
    height: 40px;
  }
  .ap-dataset-places {
    height: auto;
  }
  .ap-icon-pin svg {
    top: 45% !important;
  }
}

.search-input-container .search-input-item {
  label {
    margin-left: 12px;
  }

  input:focus, input:visited {
    outline: none !important;
    background-color: white !important;
    border: none;
    box-shadow: none !important;
  }
}

.search-input-container .search-input-item:last-of-type {
  label {
    &:after {
      display: none;
    }
  }
}

.search-input-item {
  display: flex;
  flex-direction: column !important;
  align-items: flex-start !important;
  flex-flow: column !important;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;

  input {
    min-height: 40px;
  }
}



.hover-message label {
  position: relative;
  text-decoration: none;

}
.hover-message label:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 130%;
  left: 20%;
  background: lightgrey;
  padding: 5px 15px;
  color: black;
  -webkit-border-radius: 10px;
  -moz-border-radius : 10px;
  border-radius : 10px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition : all 0.4s ease;
  transition : all 0.4s ease;
}
.hover-message label:before {
  content: "How many friends of friends?";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid lightgrey;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  -webkit-transition: all 0.4s ease;
  -moz-transition : all 0.4s ease;
  transition : all 0.4s ease;
  opacity: 0;
  left: 30%;
  bottom: 90%;
}
.hover-message label:hover:after {
  content: "How many handshakes should it take at the most to get to know the owner?";
  opacity: 1;
  left: -10px;
  bottom: -90px;
  white-space: pre-line;
  width: 211px;
  display: flex;
  align-items: center;
  z-index: 10;
}

.hover-message label:hover:before {
  bottom: 70%;
}
.hover-message label:hover:after, a:hover:before {
  opacity: 1;
}

