.textbox {
  width: 675px;
  height: 255px;
  align-items: center;
  padding: 35px;
}

.textbox h1{
  margin: 0px 0px 20px 0px;
}
.textbox p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
